.search-form{
    padding-top:51px;
    background-image:url(https://www.elsetge.cat/myimg/f/4-48486_latest-hd-nature-wallpaper-beautiful-background.jpg);
    width:100%;
    height:800px;
    padding-top:400px;
    
}
/* input{
    width:350px;
    margin-left: 200px;
} */
#ni{
    text-align: center;
    font-family:italic;
    font-variant:small-caps;
    font-size:30px;
    
}
.row{
    background-color:rgb(170, 176, 179);
}

