<!-- <p>picture works!</p> -->
<div *ngIf ="picture">
 <div class="panel panel-default">
  <div class="panel-heading">
     {{picture.name}} <small>({{picture.login}})</small>   
    <span *ngIf="profile.company">,Works at  {{picture.company}}</span>
     {{picture.location}}
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-3">
            <img src="{{picture.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
      </div>
    <div class="col-sm-5">
        <ul class="list-group">
           <li class="list-group-item" *ngIf="picture.bio">{{picture.bio}}</li>
           <li class="list-group-item" *ngIf="picture.hireable">Available for hire</li>
           <li class="list-group-item" *ngIf="picture.blog">{{picture.blog}}</li>
           <li class="list-group-item" *ngIf="picture.email">{{picture.email}}</li>

        
        
        </ul>
    </div>
    
    </div>
</div>






 </div>    
</div>
 