/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.form-group{
  padding-top:400px;
  margin-left:70px;
}
.form-group,input{
  width:180%;
}